.hero {
  height: 600px;
  padding-top: 50px;
  overflow-x: hidden;
}
.hero .container {
  display: flex;
}

.hero .container .leftColumn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.hero .container .leftColumn .textContainer {
  margin: auto;
  width: 70%;
  color: white;
}
.hero .container .leftColumn .textContainer p {
  color: #2aabe0;
}

.hero .container .leftColumn .textContainer h1 {
  font-size: 50px;
  z-index: 99;
  position: relative;
}
.hero .container .rightColumn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hero .container .rightColumn img {
  width: 80%;
  margin: auto;
  transform: translateY(50px);
}

@media all and (max-width: 768px) {
  .hero {
    height: 500px;
  }
  .hero .container .leftColumn .textContainer h1 {
    font-size: 35px;
  }
  .hero .container .leftColumn {
    width: 80%;
  }
  .hero .container .rightColumn {
    width: 30%;
  }
  .hero .container .rightColumn img {
    width: 250%;
  }
}
